*{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color:#069A8E;
}
h1{
  font-size: 28px;
  padding-top: 48px;
  
}

.app-container{
  display: flex;
  flex-direction: column;
  height: 800px;
  width: auto;
  background: url(https://i.pinimg.com/564x/88/77/da/8877daba84cb4d13e6dcd15b4706724e.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  padding-top: 122px;
  
  
}

.app-box{
  
  display: flex;
  flex-direction: column;
  color: #069A8E ;
  height: auto;
  padding: 12px;
  background-color: white;
  opacity: 97%;
  width: 360px;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 14px;
  
}

.quote-container{
  background-color: white;
  border: 1px solid black;
  padding: 12px;
  border-radius: 14px;
  margin: 22px;
  width: auto;
  height: auto;
  padding: 32px;
}
.btn{
  background-color: #F7FF93;
  border: 1px solid lightgrey;
  border-radius: 18px 18px;
  width: 150px;
  height: 52px;
  margin: 32px;
  cursor: pointer;

}